._fonts
._css
._index.php
._js
._post.php
._author_post.php
._category.php
._contact_us.php
._login.php
._registration.php
._search.php

/js/._bootstrap.js
/js/._bootstrap.min.js
/js/._jquery.js

/fonts/._glyphicons-halflings-regular.eot
/fonts/._glyphicons-halflings-regular.svg
/fonts/._glyphicons-halflings-regular.ttf
/fonts/._glyphicons-halflings-regular.woff
/fonts/._glyphicons-halflings-regular.woff2

/database/._cms_app.sql
/database/._cms_app.sql.zip

/images/profile_img/default/._female.jpeg
/images/profile_img/default/._male.png
/images/profile_img/default/._other.png
